@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/base.scss";
@import "partials/responsive.scss";
@import "vendors/typed.scss";


.main-nav {
	background: lighten($secondary, 65%);
	padding-top: 23px;
	nav {
		ul li {
			a {
				color: lighten($secondary, 35%);
			}
			&.active a{
				color: lighten($primary, 10%);
			}
		}
	}
}

.section {
	&.second{
		margin-bottom: 90px;
	}
	.container {
		position: relative;
		h1 {
			margin-bottom: 30px;
			position: relative;
		}
	}
}

.intro {
	padding: 95px 0px 70px 0px;
	overflow-x: hidden;

	img {
		width: 81px;
		height: 81px;
		border-radius: 99px;
	}

	.wrap {
		margin: 30px 0px;
	}

	h1 {
		&:before {
			position: absolute;
			left: -220px;
			top: -150px;
			font-size: 330px;
			z-index: -1;
			color: lighten($secondary, 65%);
		}
		span {
			font-size: 27px;
		}
		font-size: 27px;
	}

	.location-calend {
		padding-left: 50px;
	}
}

.work {
	.work-list {
		margin-left: 0px;

		li {
			list-style: none;
			font-size: em(17);
			color: lighten($primary, 35%);
			a {
				padding-bottom: 5px;
				font-size: em(19);
				font-weight: 700;
				text-decoration: none;
				border-bottom: 1px solid lighten($primary, 50%);
				&:hover {
					border-bottom: 1px solid $primary;
				}
			}
		}
		
		.list-date {
			color: $primary;
			font-size: em(12);
		}
	}
}

.courses {
	.courses-list {
		margin-left: 0px;
		i {
			font-size: em(15);
			color: lighten($primary, 35%);
		}
	}
}

.skills {
	.skill-list {
		margin-left: 0px;
		li {
			&:first-child {
				font-size: em(15);
				color: lighten($primary, 35%);
			}
		}
	}
}

footer {
	padding: 50px 0px 0px 0px;
	
	h3 {
		margin-right: 20px;
	}

	.social {
		
		li {
			display: inline;
			margin-right: 20px;
			a {
				font-size: em(20);
				color: lighten($primary, 20%)
			}
		}
	}
}

