@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/base.scss";
@import "partials/responsive.scss";
@import "vendors/typed.scss";


// .main-nav {
// 	background: lighten($secondary, 65%);
// 	padding-top: 23px;
// 	nav {
// 		ul li {
// 			a {
// 				color: lighten($secondary, 35%);
// 			}
// 			&.active a {
// 				color: lighten($primary, 10%);
// 			}
// 		}
// 	}
// }

.section {
	&.second{
		margin-bottom: 90px;
	}
	.container {
		position: relative;
		h1 {
			margin-bottom: 60px;
			position: relative;
		}
	}
}

.intro {
	margin-top: 100px;
	padding: 95px 0px 70px 0px;
	overflow-x: hidden;

	img {
		width: 81px;
		height: 81px;
		border-radius: 99px;
	}

	.wrap {
		margin: 30px 0px;
	}

	h1 {
		&:before {
			position: absolute;
			left: -150px;
			top: -151px;
			z-index: -1;
			color: lighten($secondary, 65%);
			@media only screen and (min-width: 120px) and (max-width: 580px) {
				left: -137px;
				top: -283px;			
			}
		}
		span {
			font-size: 27px;
		}
		font-size: 27px;
	}

	.location-calend {
		padding-left: 50px;
		@media only screen and (min-width: 120px) and (max-width: 580px) {
			padding-left: 10px;			
		}
	}
}

.work {
	.work-list {
		margin-left: 0px;

		li {
			list-style: none;
			font-size: em(17);
			color: lighten($primary, 35%);
			a {
				padding-bottom: 5px;
				font-size: em(19);
				font-weight: 700;
				text-decoration: none;
				border-bottom: 1px solid lighten($primary, 50%);
				&:hover {
					border-bottom: 1px solid $primary;
				}
			}
		}
		
		.list-date {
			color: $primary;
			font-size: em(12);
		}
	}
}

.courses {
	.courses-list {
		margin-left: 0px;
		i {
			font-size: em(15);
			color: lighten($primary, 35%);
		}
	}
}

.skills {
	.skill-list {
		margin-left: 0px;
		li {
			&:first-child {
				font-size: em(15);
				color: lighten($primary, 35%);
			}
		}
	}
}

footer {
	padding: 50px 0px 0px 0px;
	
	h3 {
		margin-right: 20px;
	}

	.social {
		
		li {
			display: inline;
			margin-right: 20px;
			a {
				font-size: em(20);
				color: lighten($primary, 20%)
			}
		}
	}
}

.border-wrap {
	background-color: rgba(220, 218, 220, 0.2);
	border-left: 4px solid #dcdadc;
    border-right: 4px solid #dcdadc;
    border-bottom: 4px solid #dcdadc;
	margin-top: 1px;
	margin-left: 510px;
	margin-right: 530px;
	@media only screen and (min-width: 120px) and (max-width: 580px) {
		margin-left: 5px;
		margin-right: 5px;
	}
	.cowsay {
		position: absolute;
		margin-top: 400px;
		margin-left: 350px;
		@media only screen and (min-width: 120px) and (max-width: 580px) {
			margin-top: 590px;
			margin-left: 90px;
		}
	}
}
